%h1 about
%p
  GameRankr was created because pretty much all other game sites
  don't really do what I want.  It's designed with the user in mind,
  not build as a platform for advertisers, not build as content site, just a place
  to talk about games with friends and anyone else.
%p
  GameRankr lets you easily record which games you own, want to own, beaten, liked, etc.
  If you want to create a wishlist for christmas or your birthday, it's easy!
  Trying to tell the people you care about what to buy you for presents can be tough
  ("what was the name of that video game you wanted again honey?"  "Geez mom, its
  so easy! Metal Gear Solid 4: Guns of the Patriots  for PlayStation 3").
  They don't know what you're talking about,  but it you could simply print a
  list they're not likely to accidentally buy you the wrong title, or the right
  title for the wrong platform.
%p
  Don't let strangers tell you what you should play.  At GameRankr, there are no
  professional reviews.  You can see reviews from people you know, who's opinions
  matter.
%h2 founder
%p
  GameRankr is completely built, and run by me,
  = link_to("Michael Economy", "http://www.michaeleconomy.com/") + "."
  This is a hobby.  Professionally I developer for
  = link_to "goodreads.com", "http://www.goodreads.com"
  \- a social network for readers.  If you're into reading, it's pretty much the best
  website.
%h2 source code
%p
  For the moment GameRankr is open-source(#{link_to "repository", "https://github.com/michaeleconomy/gamerankr"}),
  if you'd like to contribute, simply fork
  the project on github, make your changes and submit a pull request.