= h1_title "About"
%p
  GameRankr lets you easily record which games you own, want to own, have beaten, liked, etc.
  It also lets you record reviews, and see friends and community reviews.
  Eventually I'd like to make it a great place to discover new games.
  
%h2 Founder
%p
  GameRankr is completely built, and run by me, Michael Economy.
  = link_to "Check out my games here.", user_path(1)
  If you have feedback send me an email at michaeleconomy on gmail.
  
%h2 Source Code
%p
  GameRankr is #{link_to "open source", "https://github.com/michaeleconomy/gamerankr"}.
  If you'd like to contribute, feel free to submit a pull request.