= h1_title "Privacy Policy"
%p
  All of your data added to GameRankr (other than contact information - email, phone number) will be publically visible for the world to see.  Please do not add data to GameRankr you wish to be confidential or private.
%p
  We will do our darnedest to limit access to customer contact information, but may allow customers to find others via contact information.
%p
  GameRankr tries to limit it's choice of partners and who we share data with, but we reserve the right to add partners at any time and share data with whom we please. We will not give out customer contact information directly to partners, but be aware that that data travels on servers that are not wholely owned by GameRankr and through some code that hasn't been written by GameRankr.
%p
  This Privacy policy may change at any time for any reason.
%p
  You may contact GameRankr by using the "contact" link in the footer of the website.
