- @title = "#{@port.title} - cover image"
.breadCrumbs
  = link_to "Games", games_path
%h1
  = link_to_ar @port.game
  &gt;
  Cover
- if @port.large_image_url
  = image_tag(@port.large_image_url)
- else
  %p
    No large image availible.