- ranking = ranking_game
- game = ranking.game
- port = ranking.port
.listItem
  = link_to amazon_image(ranking.port, "SX120"), game, :class => 'leftImage'
  .info
    = link_to_ar game
    = render 'rankings/ranking', :ranking => ranking
  = render 'rankings/rank_stuff', :port => port
    