.listItem{itemprop: "review", itemscope: true, itemtype: "http://schema.org/Review"}
  - ranking = ranking_user
  = link_to_ar ranking.user, itemprop: "author"
  %span.platforms
    = ranking.port.platform.short
  = render 'rankings/ranking', ranking: ranking