- if ranking.ranking
  .stars
    - ranking.ranking.times do
      = image_tag('star_lit.png')
- if ranking.review?
  .review
    "#{ranking.review}"
- unless ranking.ranking_shelves.empty?
  .shelves
    Shelves:
    - ranking.shelves.each do |shelf|
      = link_to_ar shelf
  