- ranking = (@user_rankings && @user_rankings[port.game_id])
- @played_shelf_id ||= current_shelves.detect{|s| s.name == "Played"}.id
.rank{:port_id => port.id, :ranking_id => ranking && ranking.id}
  .myRankingLabel My Ranking:
  = render 'rankings/stars',
    :ranking_num => (ranking && ranking.ranking),
    :shelf_id => ranking ? nil : @played_shelf_id
  - if ranking
    .shelves
      shelves:
      - ranking.ranking_shelves.each do |ranking_shelf|
        = link_to_ar ranking_shelf.shelf
    = link_to "Edit my review", edit_ranking_path(ranking), :class => 'editLink'
  - else
    .addDiv
      %a.button{:shelf_id => @played_shelf_id} Add to My Games
  = loading :style => 'display:none'