- @hide_create_account_plug = true
:javascript
  setTimeout(function(){
    $('#resendButton').show();
  }, 30000);
= h1_title "Verification Required"
%p
  Verify your email address (#{@email}) to complete your account.
  Check for an email from GameRankr to verify your account.
#resendButton{class: @delayed ? "hidden" : ""}
  Didn't get the email?
  %div
    = link_to "Resend Verification Email", resend_verification_email_path, class: "button", method: :post, local: false



