%div
  Please confirm your email in order to create your account on Gamerankr.
%div
  %a{href: @verify_url} Verify Your Email Address
%br
%br
%div
  If someone else used your email address and you do not want an account created, please 
  %a{href: @report_incorrect_url} report it with this link.