%div
  Please confirm your email in order to create your account on Gamerankr.
%div
  %a{href: @verify_url} Verify Your Email Address
%div
  If you did not create an account, and think someone else used your email address, you can report it
  %a{href: contact_url} here.