= h1_title "Friends"

- if @friends.empty?
  .contentBlock
    You have no friends on GameRankr yet.  Please tell them how great it is!  Your Facebook friends on GameRankr will automatically show up here.
- else
  .left70
    %h2 Recent Activity
    = render :partial => 'rankings/ranking_game_and_user', :collection => @updates
    = will_paginate @updates
  .right30
    %h2 All friends
    - @friends.each do |friend|
      = render_ar friend

