= h1_title "Friends"

- if @facebook_friends.empty? && @friends.empty?
  You have no friends on facebook.
- else
  - unless @friends.empty?
    .contentBlock
      %h2 On gamerankr
      - @friends.each do |friend|
        = render_ar friend
  
  - unless @facebook_friends.empty?
    .contentBlock
      - unless @friends.empty?
        %h2 Not on gamerankr
      #friends_not_on_gr
        .contentBlock
          = text_field_tag "friend_search", nil, :id => 'friend_search', :data => {:default => "Search by name"}

        - @facebook_friends.each_with_index do |friend, i|
          - uid = friend.identifier
          .friend{:style => (i >= 18) ? "display:none" : nil}
            %img{:src => facebook_photo_url(uid, "&width=100&height=100")}
            .name
              = friend.name
            %a.button{:uid => uid}
              invite
      #none_selected{:style => "display:none"}
        No friends matched the search:
        %span
    #permission_prompt{:style => "display:none"}
      .contentBlock
        You must grant us permission on facebook to do that
      %a.button Grant permission
- @defered_js = 'one_offs/friends.js'
