body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  padding: 5px;
  text-align: center;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIHWP8//8/AzJggnE+f/4MloELwCRYYDIwAQCaAwq3OkosTgAAAABJRU5ErkJggg==") repeat; }

#header {
  width: 900px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 10px;
  background: #e8e8e8;
  margin-bottom: 0;
  overflow: hidden;
  -moz-border-radius-topleft: 6px;
  -moz-border-radius-topright: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border: 1px solid #cccccc; }
  #header .logo {
    float: left;
    padding: 0px; }
  #header .nav {
    float: left;
    font-family: "SilkscreenNormal", sans-serif;
    font-size: 1.4em;
    padding: 27px 20px 0; }
    #header .nav a {
      color: black;
      padding: 5px;
      text-decoration: none; }
      #header .nav a:hover {
        text-decoration: underline; }
  #header form {
    float: right;
    width: 240px;
    padding: 20px 0 0;
    margin-bottom: 0; }
    #header form span {
      background: white;
      border: 1px solid black;
      padding: 1px 0px 2px;
      display: inline-block;
      height: 28px; }
      #header form span input {
        font-family: Arial, Helvetica, sans-serif;
        width: 193px;
        outline: none;
        border-width: 0;
        font-size: 22px;
        display: inline-block;
        padding-left: 5px; }
      #header form span input.search {
        background-image: url(http://b.static.ak.fbcdn.net/rsrc.php/zw/r/ZEKh4ZZQY74.png);
        background-position: 0px -159px;
        background-color: white;
        background-repeat: no-repeat;
        width: 23px;
        height: 21px;
        border-width: 0;
        border-left: 1px solid grey; }
  #header img {
    vertical-align: top; }

#main {
  width: 900px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background: #f6f6f6;
  padding: 10px 10px 30px;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd; }

#footer {
  width: 900px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background: #e8e8e8;
  border: 1px solid #cccccc;
  -moz-border-radius-bottomleft: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  clear: both;
  padding: 10px; }
  #footer a.firstFooterLink {
    margin-left: 70px; }
  #footer a {
    color: black;
    padding-left: 10px; }

.contentBlock, form {
  margin-bottom: 2em;
  width: 100%;
  overflow: auto; }

.breadCrumbs {
  margin-bottom: 5px; }
  .breadCrumbs a {
    text-decoration: none; }

form textarea {
  width: 60em;
  height: 5em; }
form label {
  display: block;
  font-weight: bold; }

img {
  border: 0px; }

@font-face {
  font-family: "SilkscreenNormal";
  src: url("/type/slkscr-webfont.eot");
  src: url("/type/slkscr-webfont.eot?#iefix") format("embedded-opentype"), url("/type/slkscr-webfont.woff") format("woff"), url("/type/slkscr-webfont.ttf") format("truetype"), url("/type/slkscr-webfont.svg#SilkscreenNormal") format("svg");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: "SilkscreenNormal", sans-serif;
  font-weight: normal;
  margin-top: 0;
  color: black;
  margin-bottom: 0.3em;
  padding: 0; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none; }

td, th {
  padding: 5px; }

.smallText {
  font-size: 0.5em; }

#notice {
  border: 1px solid black;
  font-weight: bold;
  margin-bottom: 2em;
  padding: 5px;
  text-align: center;
  color: black;
  background: white; }

#error {
  border: 1px solid black;
  font-weight: bold;
  margin-bottom: 2em;
  padding: 5px;
  text-align: center;
  color: black;
  background: red; }

.left50, .right50 {
  width: 49%;
  float: left; }

.left80, .right80 {
  width: 80%;
  float: left; }

.left70, .right70 {
  width: 70%;
  float: left; }

.left40, .right40 {
  width: 40%;
  float: left; }

.left30, .right30 {
  width: 30%;
  float: left; }

.left20, .right20 {
  width: 20%;
  float: left; }

.left50 {
  padding-right: 10px; }

a {
  color: #a52018; }
  a:hover {
    color: #b90504; }
  a .all {
    text-align: right;
    display: block; }

.grey {
  color: grey; }

.lightGrey {
  color: #bbbbbb; }

a.lightGrey {
  text-decoration: none; }
  a.lightGrey:hover {
    text-decoration: underline;
    color: #cccccc; }

.right {
  float: right; }

.left {
  float: left; }

.leftImage {
  float: left;
  margin-right: 10px; }

.listItem .leftImage {
  width: 92px; }
  .listItem .leftImage img {
    max-width: 92px; }

.listItem {
  overflow: hidden;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 5px;
  padding: 10px 0; }
  .listItem .info {
    float: left;
    width: 54%;
    margin-right: 3%; }
  .listItem .rank {
    float: left; }

.rank {
  text-align: center;
  width: 140px; }
  .rank .stars {
    margin-left: 30px; }
  .rank .addDiv {
    width: 140px;
    text-align: left; }

.button {
  cursor: pointer;
  color: white;
  background: #990000;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b90504), to(#660100));
  background: -moz-linear-gradient(0% 0% 90deg, #b90504, #660100);
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 3px #aaaaaa;
  -moz-box-shadow: 2px 2px 3px #aaaaaa;
  box-shadow: 2px 2px 3px #aaaaaa;
  border: 1px solid #aa0000;
  text-decoration: none;
  white-space: nowrap;
  padding: 3px 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 2em; }
  .button:hover {
    color: white;
    background: #a21a00;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a21a00), to(#600700));
    background: -moz-linear-gradient(0% 0% 90deg, #a21a00, #600700); }

input.button {
  line-height: 1.18em; }

#addShelves, .chooseShelves {
  text-align: center;
  width: 132px;
  border: 1px solid black;
  -webkit-box-shadow: 1px 1px 1px #666666;
  -moz-box-shadow: 1px 1px 1px #666666;
  z-index: 1;
  background: white;
  position: absolute;
  height: auto; }
  #addShelves a, .chooseShelves a {
    display: block; }
    #addShelves a:hover, .chooseShelves a:hover {
      background: #fef900; }

.clear {
  clear: both; }

.stars {
  white-space: nowrap;
  width: 80px;
  overflow: hidden; }
  .stars a {
    background: url("/images/star_empty.png") no-repeat left top;
    display: block;
    float: left;
    width: 15px;
    height: 15px; }
  .stars a.persisted {
    background: url("/images/star_lit.png") no-repeat left top; }

.shelves a {
  padding-right: 5px; }

.stars.changing a.persisted {
  background: url("/images/star_empty.png") no-repeat left top; }
.stars.changing a.selected {
  background: url("/images/star_lit.png") no-repeat left top; }

span.shelf {
  margin-right: 12px; }

.blockingLinks a {
  display: block; }

.loading {
  background: url("/images/loading.gif") left top;
  width: 36px;
  height: 44px; }

#addShelves a, a.addShelf, #sizes a {
  cursor: pointer; }

#sizes a {
  text-decoration: underline; }

#friends_not_on_gr {
  overflow: none;
  width: 100%; }
  #friends_not_on_gr .friend {
    text-align: center;
    float: left;
    width: 150px;
    height: 150px; }

.tip {
  display: none;
  background: white;
  width: 300px;
  border: 1px solid grey;
  padding: 5px; }

#myReview div.myRankingLabel {
  display: none; }

.views img {
  padding: 5px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#990000), to(#550000));
  background: -moz-linear-gradient(0% 0% 90deg, #990000, #550000);
  -moz-box-shadow: inset 0 0 1px 1px black;
  -webkit-box-shadow: inset 0 0 1px 1px #333333;
  box-shadow: inset 0 0 1px 1px black; }

.cover {
  -webkit-box-shadow: 2px 2px 3px #aaaaaa;
  -moz-box-shadow: 2px 2px 3px #aaaaaa;
  box-shadow: 2px 2px 3px #aaaaaa; }

.views a img {
  cursor: pointer;
  color: white;
  background: #990000;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b90504), to(#660100));
  background: -moz-linear-gradient(0% 0% 90deg, #b90504, #660100);
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 3px #aaaaaa;
  -moz-box-shadow: 2px 2px 3px #aaaaaa;
  box-shadow: 2px 2px 3px #aaaaaa;
  border: 1px solid #aa0000; }

.sidewaysView {
  overflow: auto;
  white-space: nowrap; }
