- if @ports.size > 1
  - other_ports = @ports - [@port]
  .contentBlock
    %h2
      = "Other Editions (#{other_ports.size})"
    - other_ports.each do |port|
      .left20
        = link_to port_image(port, "SX50", :class => 'cover'), port
        .info
          = link_to port.platform.name, port