[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple

User=ubuntu

WorkingDirectory=/home/ubuntu/gamerankr

# Helpful for debugging socket activation, etc.
# Environment=PUMA_DEBUG=1
ExecStart=/home/ubuntu/gamerankr/bin/puma -C /home/ubuntu/gamerankr/config/puma_production.rb

Restart=always

[Install]
WantedBy=multi-user.target