// http://www.colourlovers.com/palette/623761/Walking_Away

body
  font-family: Arial, Helvetica, sans-serif
  color: #333
  padding: 5px
  text-align: center
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQIHWP8//8/AzJggnE+f/4MloELwCRYYDIwAQCaAwq3OkosTgAAAABJRU5ErkJggg==') repeat

@mixin bodyElems
  width: 900px
  text-align: left
  margin-left: auto
  margin-right: auto

#header
  @include bodyElems
  padding: 5px 10px
  background: #E8E8E8
  margin-bottom: 0
  overflow: hidden
  border-top-left-radius: 6px
  border-top-right-radius: 6px
  border: 1px solid #CCC
  .logo
    float: left
    padding: 0px
  .nav
    float: left
    font-family: 'SilkscreenNormal', sans-serif
    font-size: 1.4em
    padding: 27px 20px 0
    a
      color: black
      padding: 5px
      text-decoration: none
      &:hover
        text-decoration: underline
  form
    float: right
    width: 240px
    padding: 20px 0 0
    margin-bottom: 0
    span
      background: white
      border: 1px solid black
      padding: 1px 0px 2px
      display: inline-block
      height: 28px
      input
        font-family: Arial, Helvetica, sans-serif
        width: 193px
        outline: none
        border-width: 0
        font-size: 22px
        display: inline-block
        padding-left: 5px
      input.search
        background-image: image-url('magnifying_glass.png')
        background-position: 5px 5px
        background-color: white
        background-repeat: no-repeat
        width: 23px
        height: 21px
        border-width: 0
        border-left: 1px solid grey
        border-radius: 0px
  img
    vertical-align: top

#main
  @include bodyElems
  background: #F6F6F6
  padding: 10px 10px 30px
  border-left: 1px solid #ddd
  border-right: 1px solid #ddd
  overflow: hidden
  
#footer
  @include bodyElems
  font-family: SilkscreenNormal, sans-serif
  font-size: 13px
  background: #E8E8E8
  border: 1px solid #CCC
  border-bottom-left-radius: 6px
  border-bottom-right-radius: 6px
  clear: both
  padding: 10px
  
  a.firstFooterLink
    margin-left: 70px
  a
    color: black
    padding-left: 10px
  #copyright a
    text-decoration: none

.contentBlock
  margin-bottom: 2em
  width: 100%
  overflow: hidden

.contentBlockNoOverflow
  margin-bottom: 2em
  width: 100%

.breadCrumbs
  font-family: 'SilkscreenNormal', sans-serif
  margin-left: 3px
  font-size: 13px
  a
    text-decoration: none
form
  @extend .contentBlock
  textarea
    width: 60em
    height: 5em
  label
    display: block
    font-weight: bold
input[type="text"] input[type="password"]
  width: 250px
.formRow
  margin-bottom: 5px

.sortRow form
  display: inline

.profileQuestion label, .email label
  display: inline
  margin-left: 50px
  font-weight: normal

img
  border: 0px

@font-face
  font-family: 'SilkscreenNormal'
  src: url('/type/slkscr-webfont.eot')
  src: url('/type/slkscr-webfont.eot?#iefix') format('embedded-opentype'), url('/type/slkscr-webfont.woff') format('woff'), url('/type/slkscr-webfont.ttf') format('truetype'), url('/type/slkscr-webfont.svg#SilkscreenNormal') format('svg')
  font-weight: normal
  font-style: normal

h1, h2, h3, h4, h5, h6
  font-family: 'SilkscreenNormal', sans-serif
  font-weight: normal
  margin-top: 0
  color: black
  margin-bottom: 0.3em
  padding: 0
  a
    text-decoration: none

td, th
  padding: 5px

.smallText
  font-size: .5em

@mixin flashStuff  
  border: 1px solid black
  font-weight: bold
  margin-bottom: 2em
  padding: 5px
  text-align: center
  color: black

.notice
  @include flashStuff
  background: white
  
.error
  @include flashStuff
  background: red

.left50, .right50
  width: 49%
  float: left
.left80, .right80
  width: 80%
  float: left
.left70, .right70
  width: 70%
  float: left
.left40, .right40
  width: 40%
  float: left
.left30, .right30
  width: 30%
  float: left
.left20, .right20
  width: 20%
  float: left
.left50
  padding-right: 10px
a
  color: #a52018
  &:hover
    color: #B90504
  .all
    text-align: right
    display: block
.default
  color: grey

.lightGrey
  color: #bbb
a.lightGrey  
  text-decoration: none
  &:hover
    text-decoration: underline
    color: #ccc
  
.right
  float: right
.left
  float: left
  
.leftImage
  float: left
  margin-right: 10px
  
.listItem .leftImage
  width: 92px
  img
    max-width: 92px
    
.listItem
  overflow: hidden
  width: 100%
  border-bottom: 1px solid #E8E8E8
  margin-bottom: 5px
  padding: 10px 0
  min-height: 140px
  .info
    float: left
    width: 54%
    margin-right: 3%
  .rank
    float: left
span.platforms
  font-size: 0.85em
.rank
  text-align: center
  width: 140px
  .stars
    margin-left: 30px
  .addDiv
    width: 140px
    text-align: left
@mixin semiButtonStyle
  background: #660100
  cursor: pointer
  box-shadow: 2px 2px 3px #aaa
  color: white
@mixin buttonStyle
  @include semiButtonStyle
  border-radius: 4px
  border: 1px solid #a00
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#B90504), to(#660100))
  background: -moz-linear-gradient(top, #B90504, #660100)
.button
  @include buttonStyle
  text-decoration: none
  white-space: nowrap
  padding: 3px 5px
  font-family: Arial, Helvetica, sans-serif
  font-size: 1em
  line-height: 2em
  &:hover
    color: white
    background: #a21a00
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a21a00), to(#600700))
    background: -moz-linear-gradient(top, #a21a00, #600700)
input.button
  line-height: 1.18em

#footer .editShelvesContainer
  display: none


table.rankings th
  font-size: .8em


.editShelvesContainer
  position: relative
  height: 24px

.editShelves
  position: absolute
  left: 0
  width: 166px
  border-radius: 4px
  border: 1px solid #a00
  height: 18px
  max-height: 110px
  z-index: 500
  overflow: hidden
  background-color: white
  text-align: left

.editShelves.expanded
  height: auto

.editShelves a
  cursor: pointer
  padding-left: 16px
  margin-left: 2px
  display: block

.editShelves a[ranking_shelf_id]
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAALCAYAAACksgdhAAAARklEQVR42pXRywkAIBBDQVuyY4uxrydIwMNiNAs5Dvtrv8XsYwcigDIyIBQDIO8gdJZ8AaG65A04hANlPAMK8r%2FwqB7EoQWlO7lbfdtYaAAAAABJRU5ErkJggg%3D%3D)
  background-repeat: no-repeat
  background-position: left center

.editShelves .expander
  @include semiButtonStyle
  float: right
  background-size: 8px 4px
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAICAQAAABaf7ccAAAAKUlEQVR4AX3KsQEAIAzDsJzez8MuoF6tdLo1icQdiBvilrglnw1xS9wHeq2Hge3+H0sAAAAASUVORK5CYII=")
  background-repeat: no-repeat
  background-position: center center
  height: 20px
  width: 20px
  padding: 0px

#addShelves, .chooseShelves
  text-align: center
  width: 132px
  border: 1px solid black
  box-shadow: 1px 1px 1px #666
  z-index: 1
  background: white
  position: absolute
  height: auto
  a
    display: block
    &:hover
      background: rgb(254, 249, 0)

.clear
  clear: both

.stars
  white-space: nowrap
  width: 80px
  overflow: hidden
  a
    background: image-url('star_empty.png') no-repeat left top
    display: block
    float: left
    width: 15px
    height: 15px
  a.persisted
    background: image-url('star_lit.png') no-repeat left top
    
.shelves a
  padding-right: 5px
.stars.changing    
  a.persisted
    background: image-url('star_empty.png') no-repeat left top
  a.selected
    background: image-url('star_lit.png') no-repeat left top

span.shelf
  margin-right: 12px
.blockingLinks a
  display: block

.loading
  background: image-url('loading.gif')  left top
  width: 36px
  height: 44px
  
#addShelves a, a.addShelf, #sizes a, .truncatedMoreLink
  cursor: pointer
#sizes a
  text-decoration: underline

.tip
  display: none
  background: white
  width: 300px
  border: 1px solid grey
  padding: 5px
#myReview div.myRankingLabel
  display: none
  
  
.views img
  padding: 5px
  border-radius: 3px
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#900), to(#500))
  background: -moz-linear-gradient(top, #900, #500)
  -webkit-box-shadow: inset 0 0 1px 1px #333
  box-shadow: inset 0 0 1px 1px black

.cover  
  -webkit-box-shadow: 2px 2px 3px #aaa
  box-shadow: 2px 2px 3px #aaa

.views a img
  @include buttonStyle

.sidewaysView
  overflow: auto
  white-space: nowrap

.errorExplanation, .error
  margin-bottom: 2em
  background: #A00
  color: white
  padding: 10px
.errorExplanation a, .error a
  color: white

#sources
  float: right
  a img
    -webkit-box-shadow: 2px 2px 2px #666
    box-shadow: 2px 2px 2px #666
    border: 1px solid #ddd
    padding: 4px
  img
    padding: 6px
    height: 16px

.hidden
  display: none
.justify
  text-align: justify

.sx250
  max-width: 250px
.sx140
  max-width: 140px
.sy150
  max-height: 150px
.sl70
  max-width: 70px
  max-height: 70px

.commentUser
  clear: both
  margin-bottom: 5px
.moreLink
  display: block
  height: 40px

.userPhoto
  max-width: 50px

.commentUser .userPhoto
  display: block
  float: left
  margin-right: 5px
  margin-bottom: 5px

#comment_comment
  width: 280px
  font-size: 1.08em

.carousel
  list-style-type: none

.giveMeSomeSpace
  margin-top: 10em