<!DOCTYPE html>
%html
  %head
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  %body
    %h1
      %a{:href => "https://www.gamerankr.com"}
        GameRankr
    = yield
    - if @to_user
      %hr
      %div
        Email sent to #{@to_user.email}.  You may edit your account settings and control emails you get at #{link_to "Gamerankr", edit_user_url(@to_user)}.
      - if @email_pref
        %div
        = link_to "Unsubscribe from Gamerankr Emails", edit_email_preference_user_url(@to_user, pref: @email_pref)