<!DOCTYPE html>
%html
  %head
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  %body
    = yield
    - if @to_user
      %hr
      %div
        This message was sent by request to:
        = @to_user.email